@page "/"

<PageTitle>Index</PageTitle>

<h1>Ultra fantastic new fancy posting website</h1>

<p>Welcome to the website. Here you can do things like: </p>
<div class="col-12">
    <ul>
        <li> Log in (wow!)</li>
        <li> Log out 😮</li>
        <li> Create posts 🔥</li>
        <li> Read posts 📰</li>
    </ul>
</div>
<div>
    <p> Just navigate the menus on the left to start browsing!</p>
</div>

